<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false"/>
    <arg     if="$(arg debug)" name="launch_prefix" default="gdb -ex run --args"/>
    <arg unless="$(arg debug)" name="launch_prefix" default=""/>
	
	<!-- Set namespace -->
	<arg name="id_robot" default="robot"/>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="10.0" />

	<!-- Publishers, Subscribers -->
	<arg name="robot_status_pub" default="/sermas_pilot/robot_status" /> <!-- mqtt-odin-platform-robot-status-kafka -->
	<arg name="robot_result_pub" default="/sermas_pilot/robot_result" /> 	<!-- mqtt-odin-platform-robot-result-kafka -->
	<arg name="rtls_sub" default="/sermas_pilot/RTLS" /> 	<!-- kafka-odin-platform-iot-rtls-positions-mqqt -->
	<arg name="smartbox_sub" default="/sermas_pilot/smartbox" /> 	<!-- kafka-odin-platform-smartbox-status-mqtt -->
	<arg name="hmi_sub" default="/sermas_pilot/hmi" /> 	<!-- mqtt-odin-platform-interface-kafka -->
	<arg name="elevator_sub" default="/robot/robotnik_base_control/elevator_status" />
	<arg name="battery_sub" default="/robot/battery_estimator/data" />
	<arg name="pose_sub" default="/robot/amcl_pose" />

	<!-- Sequences -->
	<arg name="pick_sequence" default="TEST_ALLINEAMENTO_RUOTE"/>
	<arg name="place_sequence" default="PLACE_SEQUENCE"/>
	<arg name="release_sequence" default="RELEASE_AND_HOME"/>

	<!-- Config files -->
	<rosparam file="$(find sermas_pilot)/config/locations.yaml" command="load" />

	<!-- <group ns="$(arg id_robot)"> -->
		<!-- start SermasPilot node -->
		<node name="sermas_pilot" pkg="sermas_pilot" type="sermas_pilot_node" output="screen" respawn="false" launch-prefix="$(arg launch_prefix)">
			<param name="desired_freq" value="$(arg desired_freq)"/>
			<param name="robot_status_pub" value="$(arg robot_status_pub)"/>
			<param name="robot_result_pub" value="$(arg robot_result_pub)"/>
			<param name="rtls_sub" value="$(arg rtls_sub)"/>
			<param name="smartbox_sub" value="$(arg smartbox_sub)"/>
			<param name="hmi_sub" value="$(arg hmi_sub)"/>
			<param name="elevator_sub" value="$(arg elevator_sub)"/>
			<param name="battery_sub" value="$(arg battery_sub)"/>
			<param name="pose_sub" value="$(arg pose_sub)"/>			
			<param name="pick_sequence" value="$(arg pick_sequence)"/>
			<param name="place_sequence" value="$(arg place_sequence)"/>
			<param name="release_sequence" value="$(arg release_sequence)"/>
		</node>
	<!-- </group> -->

</launch>
