<?xml version="1.0"?>
<launch>
	<arg name="debug" default="false"/>
    <arg     if="$(arg debug)" name="launch_prefix" default="gdb -ex run --args"/>
    <arg unless="$(arg debug)" name="launch_prefix" default=""/>
	
	<!-- Set namespace -->
	<arg name="id_robot" default="robot"/>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="10.0" />

	<!-- Publishers, Subscribers -->
	<arg name="robot_status_pub" default="/umcu_pilot/robot_status" /> <!-- mqtt-odin-platform-robot-status-kafka -->
	<arg name="robot_result_pub" default="/umcu_pilot/robot_result" /> 	<!-- mqtt-odin-platform-robot-result-kafka -->
	<arg name="rtls_sub" default="/umcu_pilot/RTLS" /> 	<!-- kafka-odin-platform-iot-rtls-positions-mqqt -->
	<arg name="smartbox_sub" default="/umcu_pilot/smartbox" /> 	<!-- kafka-odin-platform-smartbox-status-mqtt -->
	<arg name="hmi_sub" default="/umcu_pilot/hmi" /> 	<!-- kafka-odin-platform-interface-mqtt -->
	<arg name="elevator_sub" default="/robot/robotnik_base_control/elevator_status" />
	<arg name="battery_sub" default="/robot/battery_estimator/data" />
	<arg name="pose_sub" default="/robot/amcl_pose" />

	<!-- Sequences -->
	<arg name="pick_sequence" default="TEST_ALLINEAMENTO_RUOTE"/>
	<arg name="place_sequence" default="PLACE_SEQUENCE"/>
	<arg name="release_sequence" default="RELEASE_AND_HOME"/>

	<!-- Commands -->
	<arg name="pick_up_rack" default="PICK UP RACK"/>
	<arg name="go_to_room_1" default="GO TO ROOM 1"/>
	<arg name="go_to_room_2" default="GO TO ROOM 2"/>
	<arg name="go_to_room_3" default="GO TO ROOM 3"/>
	<arg name="go_to_home_room" default="GO TO HOME ROOM"/>
	<arg name="release_and_home" default="RELEASE AND HOME"/>
	<arg name="bring_rack_home" default="BRING RACK HOME"/>

	<!-- <group ns="$(arg id_robot)"> -->
		<!-- start UmcuPilot node -->
		<node name="umcu_pilot" pkg="umcu_pilot" type="umcu_pilot_node" output="screen" respawn="false" launch-prefix="$(arg launch_prefix)">
			<rosparam file="$(find umcu_pilot)/config/locations.yaml" command="load" />
			<param name="desired_freq" value="$(arg desired_freq)"/>
			<param name="robot_status_pub" value="$(arg robot_status_pub)"/>
			<param name="robot_result_pub" value="$(arg robot_result_pub)"/>
			<param name="rtls_sub" value="$(arg rtls_sub)"/>
			<param name="smartbox_sub" value="$(arg smartbox_sub)"/>
			<param name="hmi_sub" value="$(arg hmi_sub)"/>
			<param name="elevator_sub" value="$(arg elevator_sub)"/>
			<param name="battery_sub" value="$(arg battery_sub)"/>
			<param name="pose_sub" value="$(arg pose_sub)"/>			
			<param name="pick_sequence" value="$(arg pick_sequence)"/>
			<param name="place_sequence" value="$(arg place_sequence)"/>
			<param name="release_sequence" value="$(arg release_sequence)"/>
			<param name="pick_up_rack" value="$(arg pick_up_rack)"/>
			<param name="go_to_room_1" value="$(arg go_to_room_1)"/>
			<param name="go_to_room_2" value="$(arg go_to_room_2)"/>
			<param name="go_to_room_3" value="$(arg go_to_room_3)"/>
			<param name="go_to_home_room" value="$(arg go_to_home_room)"/>
			<param name="release_and_home" value="$(arg release_and_home)"/>
			<param name="bring_rack_home" value="$(arg bring_rack_home)"/>
		</node>
	<!-- </group> -->

</launch>
